<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}MediSlot{% endblock %}</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
 {% if request.user.is_authenticated %}
  <span>Hi, {{ request.user.username }}</span>
  <form method="post" action="/accounts/logout/" style="display:inline">
    {% csrf_token %}
    <button type="submit">Log out</button>
  </form>
{% else %}
  <a href="/accounts/login/">Log in</a>
  <a href="/accounts/signup/">Sign up</a>
{% endif %}
  </nav>

  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>